#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
    
}
#scoreText{
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
}
#resetBtn{
    font-family:'Courier New', Courier, monospace;
    font-size: 22px;
    width: 100px;
    height: 50px;
    background-color: rgb(223, 189, 255);
     border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}

